.parent{
    display: grid;
    place-items: center;
    height: 100vh;
flex-direction: column;
    background-color:color-mix(in darkblue,aqua, 60%, 30%);
   
    
    
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:plum;
    padding: 50px;
    width: 300px;
    height: 300px;
    
    
    
}
label{
    display: inline;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#username
{
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#password{
    color:black;
    
}
/*input{
    background-color: aqua;

}*/
.hello{
    color: black;
    background-color: lightgreen;
}